body {
	/* background-color: black;
	color: white; */
	overflow: hidden;
	background-color: black;
}

.container {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 800px;
	width: 800px;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	background-color: blanchedalmond;
}

.heading {
	color: black;
}

p {
	color: red;
}

.ui.form {
	font-size: 1.5em;
	margin-top: -3em;
}
